<div id="about-us" class="popup-container zoom-anim-dialog mfp-hide">
    <h2>About</h2>
    <p>
I like building software and managing software development teams</p>
<p>I love solving problems</p>
</div>
