<div id="about-us" class="popup-container zoom-anim-dialog mfp-hide">
    <h2>About</h2>
    <p>
Product backlogs are developed together with clients.</p>
<p>Clients include Global 500 Enterprises, State Governments, International NGOs and some rapidly growing Software Companies and Start-ups.</p>
<p>Love open source and distributed development 
    </p>
</div>
